{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Vertragsübersicht</h1>
</div>
<table id"vertragsTabelle" class="display table table-striped table-hover">
  <thead>
    <tr>
      <th>VN-Nummer</th>
      <th>Kunde</th>
	  <th>Objekte</th>
      <th>Intervall</th>
      <th>Status</th>
      <th>Letzte Bearbeitung</th>
	  <th>Protokolle</th>
    </tr>
  </thead>
  <tbody>
    {% for eintrag in vertragsdaten %}
    <tr>
      <td><a href="/vertraege?vn={{ eintrag.vn_nr }}">{{ eintrag.vn_nr }}</a></td>
      <td>{{ eintrag.kunde }}</td>
      <td>
		{% for objekt in eintrag.objekte %}
		{{ objekt.name}}<br>
		{% endfor %}
	  </td>
	  <td>
		{% for objekt in eintrag.objekte %}
		{{ objekt.intervall}}<br>
		{% endfor %}
	  </td>
      <td>
	    {% for objekt in eintrag.objekte %}
		{{ objekt.status}}<br>
		{% endfor %}
	   </td>
      <td>{{ eintrag.letzte_bearbeitung }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table id="example" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011-04-25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011-07-25</td>
                <td>$170,750</td>
            </tr>
		</tbody>
</table>


<script>
  $(document).ready(function() {
    new DataTable('#vertragsTabelle');
	new DataTable('#example');
	console.log("New table initialized??");
  });
</script>


{% endblock %}
