<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link {% if active_page == 'dashboard' %}active{% endif %}" aria-current="page" href="/">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_page == 'vertraege' %}active{% endif %}"" href="/vertraege">
              <span data-feather="file"></span>
              Verträge
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_page == 'archiv' %}active{% endif %}"" href="/archiv">
              <span data-feather="layers"></span>
              Archiv
            </a>
          </li>
		  <li class="nav-item {% if active_page == 'statistiken' %}active{% endif %}"">
            <a class="nav-link" href="/statistiken">
              <span data-feather="bar-chart-2"></span>
              Statistiken
            </a>
          </li>
		  <li class="nav-item {% if active_page == 'users' %}active{% endif %}"">
            <a class="nav-link" href="/user">
              <span data-feather="users"></span>
              User
            </a>
          </li>
        </ul>
      </div>
    </nav>